build/
*.DS_STORE
*.gradle
build.gradle
bustester/test2.json
bustester/newTrips.json
bustester/newTrips.json
src/main/assets/newTrips.json
src/main/assets/fawe.json
bustester/genNewData/Washington-Output/newTrips.json
bustester/genNewData/Washington-Output/trips.json
bustester/genNewData/Washington-Raw/stop_times.txt
bustester/genNewData/Portland-Output/newTrips.json
bustester/genNewData/Portland-Output/trips.json
bustester/genNewData/Portland-Raw/stop_times.txt
